MONGODB_URI=mongodb://USUARIO:CONTRASENA@HOST.mongodb.net:27017,..../?ssl=true&replicaSet=...&authSource=admin&appName=...
PORT=3000

# Clave secreta para firmar tokens JWT
JWT_SECRET=genera_una_clave_larga_y_aleatoria_con_cualquier_generador
JWT_EXPIRES_IN=1d